body {
  padding-top: 50px;
  background-color: #f7f7f7;
  /*background-image: url(/static/DRAFT.png);*/
}
h1 {
	text-align: center;
}
.flowtow, .uploadform {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 520px;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 12px;
	background-color: #ffffff;
}

.flowtow img {
	margin: 12px;
	max-width: 480px;
	border: 5px solid black;
}
.flowtow .date {
	display: inline-block;
	float: left;
}
.flowtow .name {
	display: inline-block;
	float: right;
}

.navbar {
	background-color: black;
	opacity: 0.55;
}

.well {
	background-color: rgba(0, 208, 255, 0.2);
}